html {
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 2px;
    transform-style: preserve-3d;
    color: #424f57;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-heading {
    color: #14afca;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    text-transform: uppercase;
}

.section__subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 75px;
    letter-spacing: 1px;
    font-weight: 600;
}

/*header*/

.header {
    background-color: #fff;
    position: absolute;
    width: 100%;
    margin-top: 30px;
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 113px;
    width: 1050px;
    margin: 0 auto;
}

.header__logo-title {
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
}

.header__logo-title--bluetext {
    color: #14afca;
    font-weight: 900;
    text-transform: uppercase;
}

.header-nav {
    width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header-nav__item-link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    transition: color 0.3s linear;
}

.header-nav__item-link:hover {
    color: #14afca;
}

.section-block {
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.section-block__inner {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.section-block__slogan {
    text-align: center;
    color: #fff;
    font-size: 52px;
    line-height: 75px;
    font-weight: 700;
    text-transform: uppercase;
}

/*main*/

.what-section {
    position: relative;
    z-index: 1000;
}

.what-section::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 85px solid transparent;
    border-left: 50vw solid #fff;
    border-right: 50vw solid #fff;
    position: absolute;
    top: -85px;
    z-index: 10000;
}

.what-section__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1050px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 90px;
    height: 440px;
    position: relative;
}

.what-section__lead {
    width: 990px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.what-section:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 85px solid #fff;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    position: absolute;
    z-index: 10000;
}

.clients-section__inner {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
}

.clients-section__subtitle {
    color: #ffffff;
    margin-bottom: 20px;
}

.clients-section-logo-container {
    display: flex;
    width: 1050px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.clients-section-logo-container:first-of-type {
    margin-bottom: 120px;
}

.clients-section-logo-container:last-of-type {
    margin-bottom: 100px;
}

.clients-section__company-logo {
    object-fit: contain;
}

.clients-section__logo-wrapper {
    width: 225px;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manager-section__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}

.manager-section__heading {
    margin-top: 100px;
}

.manager-section__subtitle {
    margin-bottom: 10px;
}

.manager-section__managers-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1050px;
}

.manager-section__managers {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manager-section_managers-description {
    font-size: 15px;
    line-height: 28px;
    text-align: center;
}

.test-section::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 85px solid #fff;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    position: absolute;
    z-index: 10000;
}

.test-section::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 85px solid transparent;
    border-left: 50vw solid #fff;
    border-right: 50vw solid #fff;
    position: absolute;
    z-index: 10000;
    bottom: 0;
}

.test-section__container {
    padding-top: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 145px;
}

.test-section__heading {
    text-align: center;
}

.test-section__subtitle {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.test-section__quote-wrapper {
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.test-section__quote-text {
    font-family: "Open Sans", sans-serif;
    color: #d3cccc;
    letter-spacing: 0.8px;
    font-size: 16px;
    line-height: 28px;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
}

.test-section__quote-author {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.45px;
    color: #d3cccc;
    font-style: italic;
    font-weight: 700;
    text-align: right;
    margin-right: 100px;
}

.why-section {
    position: relative;
    margin-bottom: 100px;
}

.why-section__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-section__heading {
    margin-top: 105px;
}

.why-section__subtitle {
    margin-bottom: 10px;
}

.why-section__lead {
    width: 800px;
    font-weight: 700;
    text-transform: uppercase;
    color: #424f57;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 1px;
    text-align: center;
}

/*footer*/

.footer {
    margin-bottom: 90px;
}

.footer__copy {
    margin: 0 auto;
    width: 400px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
}

.footer__copy--bold-text {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
}

/*parallax*/

section {
    transform-style: inherit;
}

section, section::before {
    background: 50% 50% / cover;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1000;
}

#section-1::before {
    background-image: url("../img/bg1.jpg");
    transform: translateZ(-1px) scale(2);
}

#section-2::before {
    background-image: url("../img/bg2.jpg");
    transform: translateZ(-1px) scale(2);
    z-index: -2;
    background-position: 0 25%;
}

#section-3::before {
    background-image: url("../img/bg3.jpg");
    transform: translateZ(-1px) scale(2);
    z-index: -3;
    position: absolute;
    top: -100px;
}

.normal-scroll {
    background: inherit;
    position: relative;
    z-index: 1000;
}

.section-3, .manager-section, .why-section {
    overflow: hidden;
}
